extends layout

block content  
  div(id="root" style="width: 280px; margin: 40px auto; padding: 10px;")

  script.
    var lock = new Auth0Lock('#{env.AUTH0_CLIENT_ID}', '#{env.AUTH0_DOMAIN}', { auth: {
          redirectUrl: '#{env.AUTH0_CALLBACK_URL}'
        , responseType: 'code'
        , params: {
          scope: 'openid name email picture'
        }
      }
        , language: 'es'
        , allowedConnections: ['Username-Password-Authentication', 'facebook', 'linkedin']
        , theme: {
          logo: 'https://www.gravatar.com/avatar/cdb9ce88680d48bb5e5988e84fbfb2e5?s=200',
          primaryColor: 'green'
        }
        , rememberLastLogin: false
        , languageDictionary: {
          emailInputPlaceholder: "example@youremail.com",
          title: "Santi's App"
        },
        });
    lock.show();